<div class="main-container">
  <div class="header-container">
    <div class="pic-container">
      <!--<img src="../../../assets/event.png" class="event-pic">-->
    </div>
    <div class="main-info-container">
      <div class="main-info" [ngStyle]="{'margin': '50px', 'color': '#cc0000', 'font-size': '56px'}">Probot Playground
        AI Competition
      </div>
      <div class="main-info">April 28th, 2019</div>
      <div class="main-info">PC Ballroom East, UC San Diego</div>
    </div>
  </div>
  <div class="registration-container">
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSdT5lR0hwrq8ZffmLgiaJTfmDqZtdKyiEzCZbriYN0lskEOsQ/viewform?usp=sf_link">
      <button class="register-btn">Register Now!</button>
    </a>

    <div class="deadline-info">Registration Closes March 31st 11:59 pm</div>
    <div class="deadline-info">Bot Submissions Close April 14th 11:59 pm</div>

    <a href='../../../assets/Bot-Setup-Instructions.zip' download>
      <div class="bot-setup-download">Bot Setup Instructions/Example Game Data</div>
    </a>
    <!--<button class="register-btn">Volunteer Registration</button>-->
  </div>

  <div class="divider">
    <hr [style.border-color]="'#cc0000'">
  </div>

  <div class="about-section">
    <div class="section-header">About Probot Playground AI Competition</div>
    <div class="about-info">
      Probot Playground Competition is a campus-wide coding event that is half hackathon and half career fair.
      The event will include a poker bot tournament and recruiting tables from AI companies.
      Attendees will consist of tournament participants, company recruiters, and students interested in AI.
    </div>
  </div>
  <div class="tournament-structure-section">
    <div class="section-header">Tournament Structure</div>
    <div class="about-info">
      The tournament will consist of 3-5 brackets. Each bracket will have three rounds respectively.
      Each round will have multiple ‘tables’ where 4-6 bots will compete.
      Each table will play up to three games with the top two bots moving on to the next round.
      The final and 3rd round will only have one winner who will move on to the final table.
      The final table will play up to five games and will only have one winner.
    </div>
  </div>
  <div class="tournament-structure-section">
    <div class="section-header">Prizes</div>
    <div class="prize">
      1st place: $2000
    </div>
    <div class="prize">
      2nd place: $750
    </div>
    <div class="prize">
      3rd place: $250
    </div>
  </div>
  <div class="schedule-section">
    <div class="section-header">Schedule</div>
    <div class="schedule-info">
      <div class="times">
        <div class="time">
          <div class="start-time">
            10:00 am
          </div>
          <div class="end-time">
            to 10:30 am
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            10:30 am
          </div>
          <div class="end-time">
            to 11:20 am
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            11:20 am
          </div>
          <div class="end-time">
            to 1:00 pm
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            1:00 pm
          </div>
          <div class="end-time">
            to 2:00 pm
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            2:00 pm
          </div>
          <div class="end-time">
            to 3:00 pm
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            3:00 pm
          </div>
          <div class="end-time">
            to 4:00 pm
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            4:00 pm
          </div>
          <div class="end-time">
            to 4:20 pm
          </div>
        </div>
        <div class="time">
          <div class="start-time">
            4:20 pm
          </div>
          <div class="end-time">
            to 5:00 pm
          </div>
        </div>
      </div>
      <div class="activities">
        <div class="activity">
          Sign-in
        </div>
        <div class="activity">
          Opening Ceremony
        </div>
        <div class="activity">
          Knock-out Stage
        </div>
        <div class="activity">
          Lunch
        </div>
        <div class="activity">
          Quarter-finals
        </div>
        <div class="activity">
          Semi-finals
        </div>
        <div class="activity">
          Finals
        </div>
        <div class="activity">
          Closing Ceremony
        </div>
      </div>
    </div>
  </div>
  <div class="sponsors-section">
    <div class="section-header" [style.color]="'#cc0000'">Sponsors</div>
    <div class="sponsor-pics">
      <img class="sponsor-pic" src="../../../assets/UCSD_DS_logo.png">
    </div>
  </div>
</div>
