<div class="main-container">
  <div class="header-container">
    <p class="header">Our Team</p>
  </div>
  <div class="content-container">
    <div class="team-pic-container">
      <img src="../../../assets/team.png" class="team-pic">
    </div>
    <div class="team-description">
      Probot Plaground was founded by EJ Ozyazgan (left) and Tony Do (right), with the purpose of providing an online AI development platform. EJ and Tony met at UCSD and have been working together ever since.
    </div>
  </div>
</div>
