<div class="main-container">
  <div class="header-container">
    <p class="header">Our Team</p>
  </div>
  <div class="content-container">
    <div class="team-pic-container">
      <img src="../../../assets/team.png" class="team-pic">
    </div>
    <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies ligula vel sodales pellentesque. Maecenas efficitur eros orci, in aliquam risus suscipit a. Cras lacus tellus, fermentum vitae fringilla sed, blandit et dui. Donec quis efficitur nisl, in commodo augue. Fusce sodales purus et magna facilisis interdum. Curabitur eget porta libero. Ut non sem mi.</p>
  </div>
</div>
