.main-container {
  width: fit-content;
  margin: auto;
}

.header-container {
  margin: auto;
  text-align: center;
}

.header {
  font-size: 50px;
  color: #cc0000;
  margin-bottom: 20px;
}

.content-container {
  margin: auto;
  width: fit-content;
}

.team-pic {
  width: 700px;
  vertical-align: middle;
}

.team-pic-container {
  margin: auto;
  width: fit-content;
}

.team-description {
  width: 50%;
  margin: 10px auto;
  font-size: 24px;
}

@media only screen and (max-width: 900px) {
  .team-description {
    width: 75%;
  }

  .team-pic {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .team-pic {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .team-pic {
    width: 400px;
  }
}




