<div class="main-container">
  <div class="header-container">
    <p class="header">Our Team</p>
  </div>
  <div class="content-container">
    <div class="team-member-container">
      <div class="team-pic-container">
        <img src="../../../assets/tony.png" class="team-pic">
      </div>
      <div class="team-member-name">Tony Do</div>
      <div class="team-member-title">CEO</div>
      <div class="team-member-contact-container">
        <a href="mailto:tony@probotplayground.com">
          <fa class="team-member-contact" size="lg" name="envelope"></fa>
        </a>
        <a href="https://www.linkedin.com/in/tonyminhdo/">
          <fa class="team-member-contact" size="lg" name="linkedin"></fa>
        </a>
      </div>
      <div class="team-description">
        Tony is a third-year student at UC San Diego studying a double major in Communication and Public Law,
        along with a minor in Business Marketing and Operations. He is a full-time student and Chancellor’s Associate Scholar.
      </div>
    </div>
    <div class="team-member-container">
      <div class="team-pic-container">
        <img src="../../../assets/ej.png" class="team-pic">
      </div>
      <div class="team-member-name">EJ Ozyazgan</div>
      <div class="team-member-title">CTO</div>
      <div class="team-member-contact-container">
        <a href="mailto:ej@probotplayground.com">
          <fa class="team-member-contact" size="lg" name="envelope"></fa>
        </a>
        <a href="https://www.linkedin.com/in/ergin-ozyazgan/">
          <fa class="team-member-contact" size="lg" name="linkedin"></fa>
        </a>
      </div>
      <div class="team-description">
        EJ is a third-year student at UC San Diego studying Cognitive Science specializing in machine learning,
        along with a minor in Business Finance. He has been a developer for the past 6 years and loves coding.
      </div>
    </div>
  </div>
</div>
