.active-link {
  color: #FFFFFF;
  background-color: #cc0000;
}

.toolbar-btns {
  color: #cc0000;
}

.toolbar-btn {
  height: 6vh;
  border-radius: 0;
  display: table-cell;
  vertical-align: middle;
}

.toolbar-btn:hover {
  color: #FFFFFF;
  background-color: #C1C0BF;
}

.companyLogo {
  margin-top: 2vh;
  max-width: 280px;
}

.home-link {
  color: #cc0000;
}

.mat-toolbar{
  height: 6vh;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  color: #cc0000;
}

.side-nav-btns {
  color: #cc0000;
}

.side-nav-item {
  display: block;
  border-radius: 0;
}

.side-nav-item:hover {
  color: #FFFFFF;
  background-color: #C1C0BF;
}

a{
  text-decoration: none;
  font-size: 110%;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  margin-top: 6vh;
  background-color: #FFFFFF;
}

.mat-sidenav {
  margin-top: 6vh;
  background-color: #FFFFFF;
}

.mat-sidenav-container{
  min-height: 94vh !important;
  background-color: #FFFFFF;
}

.menu-btn {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .menu-btn {
    visibility: visible;
  }

  .toolbar-btns {
    visibility: hidden;
  }
}
