.nav-bar {
  display: flex;
  width: 100%;
}

.content-container {
  margin-top: 70px;
}

.active-link {
  color: #cc0000;
}

.toolbar-btn {

}

.toolbar-btns {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #505050;
  width: fit-content;
  display: flex;
}

.toolbar-link {
  font-size: 24px;
  margin: 20px;
  color: inherit;
}

.companyLogo {
  margin-top: 15px;
  margin-left: 40px;
  width: 250px;
}

.home-link {
  color: #cc0000;
}

.mat-toolbar {
  height: 75px;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  color: #cc0000;
}

.side-nav-btns {
  color: #505050;
}

.side-nav-btn {
  margin: 20px auto;
  width: fit-content;
}

.side-nav-item {
  display: block;
  border-radius: 0;
}

.side-nav-item:hover {
  color: #FFFFFF;
  background-color: #C1C0BF;
}

a {
  text-decoration: none;
  font-size: 75%;
}

button {
  font-size: 75%;
  min-width: min-content;
}

.mat-sidenav-content {
  margin-top: 67px;
  background-color: #FFFFFF;
}

.mat-sidenav {
  margin-top: 67px;
  background-color: #FFFFFF;
}

.mat-sidenav-container {
  min-height: 100vh !important;
  background-color: #FFFFFF;
}

.menu-btn {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.material-icons.md-36 {
  font-size: 36px;
}

@media only screen and (max-width: 900px) {
  .menu-btn {
    visibility: visible;
  }

  .toolbar-btns {
    visibility: hidden;
  }
}
