.main-container {
  text-align: center;
}

.event-banner {
  width: 100%;
  min-height: 450px;
  height: fit-content;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(204, 0, 0, 0.9);
  color: #FFFFFF;
}

.event-info {
  font-size: 40px;
}

.event-title {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.event-hook {
  font-size: 30px;
  margin-top: 30px;
}

.registration-container {
  margin: 30px auto 0 auto;
  width: fit-content;
}

.register-btn {
  width: 600px;
  height: 100px;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 10px 10px 0 auto;
  font-size: 40px;
  color: #cc0000;
  border: none;
}

.register-btn:hover {
  cursor: pointer;
  border: white solid 2px;
  background-color: transparent;
  color: white;
}

.registration-info {
  font-size: 20px;
}

.more-info {
  font-size: 20px;
  margin: 10px;
}

.hook {
  display: flex;
  margin-top: 75px;
}

.hook-content {
  margin-left: 100px;
  margin-top: 175px;
}

.hook-header {
  font-size: 75px;
  color: #cc0000;
  text-align: left;
  margin-bottom: 30px;
}

.hook-description {
  font-size: 50px;
  text-align: left;
  max-width: 1036px;
  color: #505050;
}

.hook-img {
  margin: 50px auto 0 auto;
}

.robot-logo {
  width: fit-content;
}

.action-btn {
  margin: 15px;
  border: none;
  background-color: #cc0000;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.action-btn:hover {
  border: #cc0000 solid 2px;
  background-color: transparent;
  color: #cc0000;
  cursor: pointer;
}

.coming-soon {
  font-size: 32px;
  color: #cc0000;
  margin-bottom: 5px;
}

.attend-event {
  font-size: 24px;
  color: #cc0000;
  margin-bottom: 20px;
}

.divider {
  width: 75%;
  margin: auto;
}

.benefits-section {
  margin: 80px 0;
}

.section-header {
  font-size: 50px;
  margin: 30px 0;
  color: #505050;
}

.benefits-info {
  width: 75%;
  display: flex;
  font-size: 24px;
  margin: auto;
}

.benefit {
  width: 30%;
  margin: 20px;
}

.benefit-header {
  margin-bottom: 15px;
  color: #cc0000;
  font-size: 40px;
  text-align: left;
}

.benefit-description {
  text-align: left;
  font-size: 28px;
  color: #505050;
}

@media only screen and (max-width: 600px) {
  .benefits-info {
    display: block;
  }

  .hook {
    display: block;
  }

  .hook-header {
    font-size: 60px;
  }

  .hook-description {
    font-size: 40px;
  }

  .robot-logo {
    width: 300px;
  }

  .benefit {
    width: 90%;
  }

  .register-btn {
    width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  .hook {
    display: block;
  }

  .hook-content {
    width: 90%;
    margin: 150px auto 0 auto;
  }
}
