<div class="main-container">
  <div class="event-banner">
    <div class="event-title">Probot Playground
      AI Competition
    </div>
    <div class="event-info">April 28th, 2019</div>
    <div class="event-info">PC Ballroom East, UC San Diego</div>
    <div class="event-hook">Compete against your peers in an automated poker bot tournament for the chance to win $3000
      in
      prizes and meet AI industry professionals.
    </div>
    <div class="registration-container">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdT5lR0hwrq8ZffmLgiaJTfmDqZtdKyiEzCZbriYN0lskEOsQ/viewform?usp=sf_link">
        <button class="register-btn">Register Now!</button>
      </a>
      <div class="registration-info">* Registration closes March 31st 11:59 pm</div>
    </div>
    <div class="more-info">See events page for more information</div>
  </div>

  <div class="hook">
    <div class="hook-content">
      <div class="hook-header">Next Generation AI Competitions</div>
      <div class="hook-description">
        Probot Playground is revolutionizing the way people develop AI through online poker
      </div>
    </div>
    <div class="hook-img">
      <img class="robot-logo" src="../../../assets/logo-robot.png">
    </div>
  </div>

  <div class="benefits-section">
    <div class="section-header">Benefits of Probot Playground</div>
    <div class="benefits-info">
      <div class="benefit">
        <div class="benefit-header">
          AI Validation
        </div>
        <div class="benefit-description">
          Show off your AI skills against thousands of other users.
          Have a validated way to show your AI skills to employers and others.
        </div>
      </div>
      <div class="benefit">
        <div class="benefit-header">
          Secure Game Data
        </div>
        <div class="benefit-description">
          Have access to all the game data you need to optimize and advance your algorithms.
          Improve your bot quickly with continuous real-time data.
        </div>
      </div>
      <div class="benefit">
        <div class="benefit-header">
          Instant Games
        </div>
        <div class="benefit-description">
          Play games instantly, giving you the ability to play thousands of games at one and tens
          of thousands an hour. Giving you higher returns.
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="hook">-->
<!--<div class="hook-header">Next Generation AI Competitions</div>-->
<!--<div class="hook-content">-->
<!--<div class="hook-description">-->
<!--Probot Playground is an online platform where users program their own AI poker bots to compete in competitive,-->
<!--automated poker games against other users AI poker bots.-->
<!--</div>-->
<!--&lt;!&ndash;<button class="action-btn">Coming Soon!</button>&ndash;&gt;-->
<!--<div class="coming-soon">Coming Soon!</div>-->
<!--<div class="attend-event">Attend our events for early access</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="divider">-->
<!--<hr [style.border-color]="'#cc0000'">-->
<!--</div>-->

<!--<div class="benefits-section">-->
<!--<div class="section-header">Benefits of Probot Playground</div>-->
<!--<div class="benefits-info">-->
<!--<div class="benefit">-->
<!--<div class="benefit-header">-->
<!--AI Validation-->
<!--</div>-->
<!--<div class="description">-->
<!--Show off your AI skills against thousands of other users.-->
<!--Have a validated way to show your AI skills to employers and others.-->
<!--</div>-->
<!--</div>-->
<!--<div class="benefit">-->
<!--<div class="benefit-header">-->
<!--Secure Game Data-->
<!--</div>-->
<!--<div class="description">-->
<!--Have access to all the game data you need to optimize and advance your algorithms.-->
<!--Improve your bot quickly with continuous real-time data.-->
<!--</div>-->
<!--</div>-->
<!--<div class="benefit">-->
<!--<div class="benefit-header">-->
<!--Instant Games-->
<!--</div>-->
<!--<div class="description">-->
<!--Play games instantly, giving you the ability to play thousands of games at one and tens-->
<!--of thousands an hour. Giving you higher returns.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
