.main-container {
  text-align: center;
}

.event-banner {
  background: #cc0000;
  min-height: 40vh;
  height: fit-content;
  padding-top: 30px;
  color: white;
  margin-top: 30px;
}

.event-info {
  font-size: 48px;
  font-family: sans-serif;

}

.event-title {
  font-family: sans-serif;
  font-size: 64px;
  color: white;
  margin-bottom: 50px;
}

.event-hook {
  font-family: sans-serif;
  font-size: 36px;
  margin-top: 30px;
}

.registration-container {
  margin-top: 30px;
}

.register-btn {
  margin: auto;
  width: 30%;
  height: 75px;
  font-size: 32px;
  border: none;
  background-color: white;
  color: #cc0000;
  text-align: center;
  border-radius: 5px;
}

.register-btn:hover {
  cursor: pointer;
  border: white solid 2px;
  background-color: transparent;
  color: white;
}

.deadline-title {
  font-family: sans-serif bold;
  font-size: 32px;
  margin-top: 10px;
  text-decoration: underline;
}

.deadline-info {
  font-family: sans-serif;
  font-size: 28px;
  margin-top: 10px;
}

.more-info {
  font-family: sans-serif;
  font-size: 28px;
  margin: 10px;
  color: white;
}

.hook {
  width: fit-content;
  margin: auto;
}

.hook-header {
  width: 90%;
  font-size: 50px;
  color: #cc0000;
  margin: 50px auto 10px auto;
}

.hook-content {
  width: 38%;
  margin: auto;
}

.hook-description {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.action-btn {
  margin: 15px;
  border: none;
  background-color: #cc0000;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.action-btn:hover {
  border: #cc0000 solid 2px;
  background-color: transparent;
  color: #cc0000;
  cursor: pointer;
}

.coming-soon {
  font-size: 32px;
  color: #cc0000;
  margin-bottom: 5px;
}

.attend-event {
  font-size: 24px;
  color: #cc0000;
  margin-bottom: 20px;
}

.divider {
  width: 75%;
  margin: auto;
}

.section-header {
  font-size: 36px;
  margin: 30px 0;
}

.benefits-info {
  width: 75%;
  display: flex;
  font-size: 24px;
  margin: auto;
}

.benefit {
  width: 30%;
  margin: 20px;
}

.benefit-header {
  margin-bottom: 15px;
  color: #cc0000;
  font-size: 30px;
}

.description {
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .hook-content {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .benefits-info {
    display: block;
  }

  .benefit {
    width: 90%;
  }

  .register-btn {
    width: 75%;
  }
}
