.main-container {
  text-align: center;
}

.header {
  color: #cc0000;
  font-size: 56px;
  margin: 50px 0 20px 0;
}

.contact-type {
  display: flex;
  margin-bottom: 10px;
}

.contact-message {
  font-size: 30px;
  margin-bottom: 60px;
}

.contact-info {
  font-size: 30px;
  margin: auto;
}

.type {
  margin-left: 42%;
  width: fit-content;
  text-align: right;
  color: #cc0000;
}

.contact {
  margin-left: 20px;
}

.contact-icons {
  color: #cc0000;
  width: fit-content;
  margin: auto;
  display: flex;
}

.contact-icon {
  margin: 0 20px;
}

.contact-icon a {
  color: inherit;
}

@media only screen and (max-width: 900px) {
  .type {
    text-align: center;
    margin: auto;
  }

  .contact {
    margin-left: 0;
  }

  .contact-type {
    display: block;
  }
}
