<div class="main-container">
  <div class="header">CONTACT US</div>
  <div class="contact-message">Please feel free to contact us with any questions you may have.</div>
  <div class="contact-info">
    <div class="contact-type">
      <div class="type">
        <fa name="phone"></fa>
      </div>
      <div class="contact">
        (678) 488-4333
      </div>
    </div>
    <div class="contact-type">
      <div class="type">
        <fa name="envelope"></fa>
      </div>
      <div class="contact">
        team@probotplayground.com
      </div>
    </div>
    <div class="contact-icons">
      <div class="contact-icon">
        <a href="https://twitter.com/probotplay">
          <fa name="twitter"></fa>
        </a>
      </div>
      <div class="contact-icon">
        <a href="https://www.facebook.com/probotplayground/">
          <fa name="facebook-f"></fa>
        </a>
      </div>
      <div class="contact-icon">
        <a href="https://www.linkedin.com/company/probot-playground-inc/">
          <fa name="linkedin"></fa>
        </a>
      </div>
    </div>
  </div>
</div>
