<div class="main-container">
  <div class="header">CONTACT US</div>
  <div class="contact-message">Please feel free to contact us with any questions you may have.</div>
  <div class="contact-info">
    <div class="contact-type">
      <div class="type">
        Phone:
      </div>
      <div class="type">
        Email:
      </div>
      <div class="type">
        Twitter:
      </div>
      <div class="type">
        Facebook:
      </div>
    </div>
    <div class="contacts">
      <div class="contact">
        (678) 488-4333
      </div>
      <div class="contact">
        team@probotplayground.com
      </div>
      <div class="contact">
        Coming Soon!
      </div>
      <div class="contact">
        Coming Soon!
      </div>
    </div>
    <!--<div class="contact-item">-->
      <!--<div class="type">-->
        <!--Phone:-->
      <!--</div>-->
      <!--<div class="contact">-->
        <!--(678) 488-4333-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="contact-item">-->
      <!--<div class="type">-->
        <!--Email:-->
      <!--</div>-->
      <!--<div class="contact">-->
        <!--team@probotplayground.com-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="contact-item">-->
      <!--<div class="type">-->
        <!--Twitter:-->
      <!--</div>-->
      <!--<div class="contact">-->
        <!--Coming Soon!-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="contact-item">-->
      <!--<div class="type">-->
        <!--Facebook:-->
      <!--</div>-->
      <!--<div class="contact">-->
        <!--Coming Soon!-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
